<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
	<defaultcontrol always="true">450</defaultcontrol>
	<allowoverlay>yes</allowoverlay>

	<controls>
		<include>GlobalBackground</include>

		<control type="wraplist" id="450" description="Invisible Settings Wraplist">
			<visible allowhiddenfocus="true">false</visible>
			<posx>0</posx>
			<posy>40</posy>
			<width>1920</width>
			<height>1000</height>
			<defaultcontrol>1</defaultcontrol>
			<focusposition>4</focusposition>
			<onup>450</onup>
			<ondown>450</ondown>
			<onleft>Noop</onleft>
			<onright>Noop</onright>

            <include>InvisibleItemsForMenu</include>
            
			<content>
				<item id="1" description="Appearance Settings">
					<label>480</label>
					<label2>-</label2>
					<property name="Label3">$LOCALIZE[31028]</property>
					<property name="Circle">circle/settings.png</property>
					<property name="Fanart">special://skin/backgrounds/appearancesettings.jpg</property>
					<icon>special://skin/backgrounds/appearancesettings.jpg</icon>
					<onclick>ActivateWindow(AppearanceSettings)</onclick>
				</item>
				<item id="2" description="Live TV Settings">
					<label>31001</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<onclick>ActivateWindow(PVRSettings)</onclick>
				</item>
				<item id="3" description="Videos Settings">
					<label>3</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/videossettings.jpg</icon>
					<onclick>ActivateWindow(VideosSettings)</onclick>
				</item>
				<item id="4" description="Music Settings">
					<label>2</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/musicsettings.jpg</icon>
					<onclick>ActivateWindow(MusicSettings)</onclick>
				</item>
				<item id="5" description="Pictures Settings">
					<label>1</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/picturessettings.jpg</icon>
					<onclick>ActivateWindow(PicturesSettings)</onclick>
				</item>
				<item id="6" description="Weather Settings">
					<label>8</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/weathersettings.jpg</icon>
					<onclick>ActivateWindow(WeatherSettings)</onclick>
				</item>
				<item id="7" description="Addons Settings">
					<label>24001</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/addons.jpg</icon>
					<onclick>ActivateWindow(AddonBrowser)</onclick>
				</item>
				<item id="8" description="Profiles">
					<label>13200</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/profiles.jpg</icon>
					<onclick>ActivateWindow(Profiles)</onclick>
				</item>
				<item id="9" description="System Settings">
					<label>13000</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/systemsettings.jpg</icon>
					<onclick>ActivateWindow(SystemSettings)</onclick>
				</item>
				<item id="10" description="Network/Service Settings">
					<label>14036</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/servicesettings.jpg</icon>
					<onclick>ActivateWindow(ServiceSettings)</onclick>
				</item>
				<item id="11" description="System Information">
					<label>130</label>
					<label2>-</label2>
					<property name="Label3">$LOCALIZE[33056]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/systemsettings.jpg</icon>
					<onclick>ActivateWindow(SystemInfo)</onclick>
				</item>
				<item id="12" description="Revolve Skin Settings">
					<label>31000</label>
					<label2>5</label2>
					<property name="Label3">$LOCALIZE[31023]</property>
					<property name="Circle">circle/settings.png</property>
					<icon>special://skin/backgrounds/skinsettings.jpg</icon>
					<onclick>ActivateWindow(SkinSettings)</onclick>
				</item>
			</content>
		</control>
		
        <control type="group" description="Revolve Menu">
            <visible>true</visible>
            <include>ListForRevolveMenu</include>
            <include>RingForRevolveMenu</include>

       		<control type="group" description="Settings Circle Image">
                <animation effect="slide" tween="quadratic" easing="out" start="-1000,0" end="0,0" time="400" reversible="false">WindowOpen</animation>
                <animation effect="slide" delay="400" tween="quadratic" easing="in" start="0,0" end="-1000,0" time="400" reversible="false">WindowClose</animation>

                <control type="image">
                    <posx>-280</posx>
                    <posy>330</posy>
                    <width>662</width>
                    <height>662</height>
                    <texture background="true">circle/settings.png</texture>
                    <fadetime>500</fadetime>
                    <colordiffuse>55000000</colordiffuse>
                </control>
            </control>

            <control type="label" description="Settings Menu Title">
                <include>MarkupForTitleForRevolveMenu</include>
                <label>$LOCALIZE[5]</label>
            </control>
        </control>
        
        <control type="group" description="Circle Menu">
            <visible>false</visible>
            <include>CenterIconForCircleMenu</include>
            <include>ListForCircleMenu</include>
            
            <control type="label" description="Settings Menu Title">
                <include>MarkupForTitleForCircleMenu</include>
                <label>$LOCALIZE[5]</label>
            </control>
        </control>
	</controls>
</window>
